!!!
%html
	%head 
		%title Dualcalc
		%link(rel="stylesheet" href="/css/style.css")

#form_address
	%form
		%label{:for => 'ip address'}="IP-address with prefix"
		%br
		%input{:type => 'text', :id => 'input_address'}

#address{:class => @data.valid? ? 'success' : 'error'}
	%span{:id => 'address-value'}
		<span id='net'>#{@format_hash[:net]}</span><span id='mixed'>#{@format_hash[:mixed]}</span><span id='host'>#{@format_hash[:host]}</span>

#container
	.row
		.left
			address
		.middle
			#{@data.address}
	.row
		.left
			prefix
		.middle
			#{@data.prefix}
	.row
		.left
			net-address

		.middle
			#{@data.net_address}
			
