!!!
%html
	%head 
		%title Dualcalc
		%link(rel="stylesheet" href="/css/style.css")

%h1 The IP address:
%p== The info

//#address
//  %span(id='address-value') #{@data.address}

#address
	%span(id='address-value')
		<span id='net'>#{@format_hash[:net]}</span><span id='mixed'>#{@format_hash[:mixed]}</span><span id='host'>#{@format_hash[:host]}</span>



#container
	.row
		.left
			address
		
		.middle
			#{@data.address}
	.row
		.left
			prefix
		.middle
			#{@data.prefix}
	.row
		.left
			prefix
		.middle
			#{@data.prefix}
